<%=render 'header' %>
<div class="Boxc">
<div class="row">
  <div class="col-sm-9">
    <%=render :template=>"selected_companies/new" %>
    <canvas id="LineChart"></canvas>
  </div>

  <div class="col-sm-3">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tabs-1" data-toggle="tab"}>掲示板</a>
      </li>
      <li>
        <a href="#tabs-2" data-toggle="tab"}>個人チャット</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="tabs-1" class="tab-pane active">
        <%=render 'topics/search' %>
        <div id="search_result">
          <%=render 'search_result' %>
        </div>
      </div>
      <div id="tabs-2" class="tab-pane">
        <%=render :template=>"static_pages/skyway" %>
      </div>
    </div>
  </div>
</div>
</div>

<script>
 var csv_data1=[];
 var csv_data2=[];
 for(var i=0;i<gon.csv_data.length;i++){
   csv_data1.push(gon.csv_data[i][0]);
   csv_data2.push(gon.csv_data[i][1]);
 }

  var ctx = document.getElementById("LineChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: csv_data1,
      datasets: [
        { label: "株価", data: csv_data2, backgroundColor: "blue" }
      ]
    }
  });


 </script>
